In [125]:
import pandas as pd
import uuid
from sklearn.impute import KNNImputer
from countryinfo import CountryInfo
import pycountry_convert as pc
import warnings
import json
warnings.simplefilter(action='ignore', category=FutureWarning)
with open('keys.json') as json_file:
    column_keys = json.load(json_file)
data = pd.read_csv('./data/HNP_StatsData.csv')
countries_info = pd.read_csv('./data/HNP_StatsCountry.csv')
disaster_data = pd.read_csv('./data/emdat_public_2022_01_31.csv')

/tmp/ipykernel_132891/3842362895.py:13: DtypeWarning: Columns (24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  disaster_data = pd.read_csv('./data/emdat_public_2022_01_31.csv')

In [126]:
countries = [
  'CAN',
  'USA',
  'MEX',
  'IND',
  'CHN',
  'SDN',
  'BGD',
  'BRA',
  'NER'
]
countries_full = [
  'Canada',
  'United States of America (the)',
  'Mexico',
  'India',
  'China',
  'Sudan',
  'Bangladesh',
  'Brazil',
  'Niger'
]

education_keys = [
  'SE.ADT.LITR.ZS',
  'SE.ADT.LITR.FE.ZS',
  'SE.ADT.LITR.MA.ZS',
  'SE.PRM.ENRR',
  'SE.PRM.ENRR.FE',
  'SE.PRM.ENRR.MA',
  'SE.SEC.ENRR',
  'SE.SEC.ENRR.FE',
  'SE.SEC.ENRR.MA',
  'SE.XPD.TOTL.GD.ZS',
  'SE.TER.ENRR',
  'SE.PRM.CMPT.ZS'
]

health_keys = [
  'SH.DTH.COMM.ZS',
  'SH.DTH.NCOM.ZS',
  'SH.XPD.CHEX.GD.ZS',
  'SH.MED.BEDS.ZS',
  'SH.IMM.MEAS',
  'SH.STA.OWGH.ME.ZS',
  'SH.STA.OWGH.ME.ZS',
  'SH.TBS.INCD',
  'SH.ANM.CHLD.ZS',
  'SH.IMM.POL3',
  'SH.IMM.IDPT',
  'SH.STA.DIAB.ZS',
  'SH.UHC.SRVS.CV.XD',
  'SH.MED.NUMW.P3'
]

quality_of_life_keys = [
  'SH.STA.BASS.ZS',
  'SH.STA.SMSS.ZS',
  'SH.STA.WASH.P5',
  'SH.H2O.BASW.ZS',
  'SH.H2O.SMDW.ZS',
  'SL.TLF.TOTL.IN',
  'SL.UEM.TOTL.MA.ZS',
  'SL.UEM.TOTL.FE.ZS',
  'SH.MMR.WAGE.ZS',
  'SI.POV.NAHC',
  'SH.STA.ODFC.ZS',
  'SL.TLF.TOTL.FE.ZS',
  'SH.STA.AIRP.P5',
  'SH.STA.BRTC.ZS ',
]

population_keys = [
  'SP.POP.TOTL',
  'SP.DYN.LE00.MA.IN',
  'SP.DYN.LE00.FE.IN ',
  'SP.POP.GROW ',
  'SP.DYN.LE00.IN',
  'SM.POP.NETM',
  'SP.RUR.TOTL',
  'SP.RUR.TOTL.ZG',
  'SI.POV.RUHC',
  'SP.URB.TOTL',
  'SP.URB.GROW',
  'SI.POV.URHC',
  'SP.POP.TOTL.MA.ZS',
  'SP.POP.TOTL.FE.ZS'
]

columns = [
  'Country Name',
  'Country Code',
  'Indicator Name',
  'Indicator Code',
  '2005',
  '2006',
  '2007',
  '2008',
  '2009',
  '2010',
  '2011',
  '2012',
  '2013',
  '2014',
  '2015',
  '2016',
  '2017',
  '2018',
  '2019',
  '2020'
]

country_columns = [
  "Long Name",
  "Short Name",
  "Country Code",
  "Region",
  # Continent
  "Currency Unit",
  # Capital
  # Number of languages
  # area
  "Income Group",
  "Latest population census"  
]
disaster_columns = [
  'Dis No',
  'Country',
  'Start Year',
  'Start Month',
  'Start Day',
  'End Year',
  'End Month',
  'End Day',
  'Disaster Group',
  'Disaster Subgroup',
  'Disaster Type',
  'Disaster Subtype',
  'Total Affected',
  'Total Deaths',  
]

## Generate Seed Data for World Bank Data
This code block generates csv files to be used to populate the Data Mart with data directly fetched from the wolrd bank source file, namely Education, Health, Population, and Quality of Life

In [127]:
def getData(columns, keys, countries, tableName):
  selected_data = pd.DataFrame()
  selected_data_imputed = pd.DataFrame()
  for country in countries:
    current_info = data.loc[data['Country Code'] == country]
    current_info = current_info.loc[data['Indicator Code'].isin(keys)]
    current_info = current_info[columns]
    cols = current_info.columns.tolist()
    # convert Year into its own column

    if tableName =='Population':
      print(current_info.head())
   
    current_info = current_info.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], var_name= "Year", value_name="Value")
    cols = current_info.columns.tolist()
    cols.insert(2, cols.pop(cols.index("Year")))
    current_info = current_info.reindex(columns= cols) #Reposition the Year column into index 2
    current_info = current_info.drop('Indicator Code', 1) #Drop the Indicator Code column
    current_info = current_info.pivot_table('Value', ['Country Name', 'Country Code', 'Year'], 'Indicator Name').reset_index() #Pivot the table so that Each value in indicator Name is its own column
    cols = current_info.columns.tolist()
    numeric_info = current_info.iloc[:,3:]
    imputer = KNNImputer()
    imputer.fit(numeric_info)
    sample_incomplete_rows = numeric_info[numeric_info.isnull().any(axis=1)].head()
    input_x = imputer.transform(numeric_info)
    imputed_data = pd.DataFrame(input_x, columns=numeric_info.columns, index=numeric_info.index)
    result = pd.concat([current_info.iloc[:,:3], imputed_data], axis=1, join="inner")
    selected_data_imputed = pd.concat((selected_data_imputed, result[cols]))
    selected_data = pd.concat((selected_data, current_info))


  selected_data_imputed.insert(0, 'key', [i for i in range(len(selected_data_imputed.index))])
  selected_data.insert(0, 'key', [i for i in range(len(selected_data.index))])
  # print(selected_data_imputed.head())
  selected_data_imputed = selected_data_imputed.rename(columns=column_keys)
  selected_data_imputed.to_csv(path_or_buf=f'./seed_data/{tableName}_seed.csv', index=False)

  # selected_data.to_csv(path_or_buf=f'./seed_data/{tableName}_Unimputed.csv', columns=cols, index=False)
tables = {
  'Education': education_keys,
  'Health' : health_keys,
  'Quality_of_life' : quality_of_life_keys,
  'Population': population_keys
  }
for key in tables:
  getData(columns, tables[key], countries, key)

      Country Name Country Code                              Indicator Name  \
38537       Canada          CAN      Life expectancy at birth, male (years)
38538       Canada          CAN     Life expectancy at birth, total (years)
38575       Canada          CAN                               Net migration
38720       Canada          CAN  Population, female (% of total population)
38722       Canada          CAN    Population, male (% of total population)

          Indicator Code       2005       2006          2007       2008  \
38537  SP.DYN.LE00.MA.IN  77.900000  78.100000  7.830000e+01  78.500000
38538     SP.DYN.LE00.IN  80.192683  80.343902  8.054390e+01  80.695122
38575        SM.POP.NETM        NaN        NaN  1.326431e+06        NaN
38720  SP.POP.TOTL.FE.ZS  50.425044  50.415091  5.040446e+01  50.394821
38722  SP.POP.TOTL.MA.ZS  49.574956  49.584909  4.959554e+01  49.605179

            2009       2010       2011          2012       2013       2014  \
38537  78.800000  79.100000  79.400000  7.960000e+01  79.700000  79.800000
38538  80.995122  81.246341  81.448780  8.164878e+01  81.748780  81.800000
38575        NaN        NaN        NaN  1.241416e+06        NaN        NaN
38720  50.388411  50.386484  50.389737  5.039709e+01  50.405809  50.412305
38722  49.611589  49.613516  49.610263  4.960291e+01  49.594191  49.587695

            2015       2016          2017      2018       2019       2020
38537  79.900000  79.900000  7.990000e+01  80.00000  80.000000        NaN
38538  81.900000  81.900000  8.190000e+01  82.04878  82.048780        NaN
38575        NaN        NaN  1.210159e+06       NaN        NaN        NaN
38720  50.414127  50.410566  5.040256e+01  50.39153  50.379516  50.368025
38722  49.585873  49.589434  4.959744e+01  49.60847  49.620484  49.631975
         Country Name Country Code  \
116684  United States          USA
116685  United States          USA
116722  United States          USA
116867  United States          USA
116869  United States          USA

                                    Indicator Name     Indicator Code  \
116684      Life expectancy at birth, male (years)  SP.DYN.LE00.MA.IN
116685     Life expectancy at birth, total (years)     SP.DYN.LE00.IN
116722                               Net migration        SM.POP.NETM
116867  Population, female (% of total population)  SP.POP.TOTL.FE.ZS
116869    Population, male (% of total population)  SP.POP.TOTL.MA.ZS

             2005       2006          2007       2008       2009       2010  \
116684  75.000000  75.200000  7.550000e+01  75.600000  76.000000  76.200000
116685  77.487805  77.687805  7.798780e+01  78.039024  78.390244  78.541463
116722        NaN        NaN  5.428756e+06        NaN        NaN        NaN
116867  50.653802  50.643896  5.063678e+01  50.630710  50.623348  50.613189
116869  49.346198  49.356104  4.936322e+01  49.369290  49.376652  49.386811

             2011          2012       2013       2014       2015       2016  \
116684  76.300000  7.640000e+01  76.400000  76.500000  76.300000  76.100000
116685  78.641463  7.874146e+01  78.741463  78.841463  78.690244  78.539024
116722        NaN  4.961716e+06        NaN        NaN        NaN        NaN
116867  50.599603  5.058340e+01  50.566296  50.550673  50.538221  50.529313
116869  49.400397  4.941660e+01  49.433704  49.449327  49.461779  49.470687

                2017       2018       2019       2020
116684  7.610000e+01  76.200000  76.300000        NaN
116685  7.853902e+01  78.639024  78.787805        NaN
116722  4.774029e+06        NaN        NaN        NaN
116867  5.052338e+01  50.520015  50.518487  50.518216
116869  4.947662e+01  49.479985  49.481513  49.481784
      Country Name Country Code                              Indicator Name  \
80581       Mexico          MEX      Life expectancy at birth, male (years)
80582       Mexico          MEX     Life expectancy at birth, total (years)
80619       Mexico          MEX                               Net migration
80764       Mexico          MEX  Population, female (% of total population)
80766       Mexico          MEX    Population, male (% of total population)

          Indicator Code       2005       2006           2007       2008  \
80581  SP.DYN.LE00.MA.IN  72.575000  72.532000      72.447000  72.342000
80582     SP.DYN.LE00.IN  75.300000  75.296000      75.255000  75.194000
80619        SM.POP.NETM        NaN        NaN -562404.000000        NaN
80764  SP.POP.TOTL.FE.ZS  51.099713  51.108013      51.102655  51.089544
80766  SP.POP.TOTL.MA.ZS  48.900287  48.891987      48.897345  48.910456

            2009       2010       2011           2012       2013       2014  \
80581  72.233000  72.135000  72.056000      71.997000  71.958000  71.943000
80582  75.128000  75.065000  75.011000      74.966000  74.930000  74.908000
80619        NaN        NaN        NaN -422477.000000        NaN        NaN
80764  51.076797  51.069914  51.070318      51.075901  51.084191  51.091548
80766  48.923203  48.930086  48.929682      48.924099  48.915809  48.908452

            2015       2016           2017       2018       2019       2020
80581  71.954000  71.990000      72.046000  72.118000  72.203000        NaN
80582  74.904000  74.917000      74.947000  74.992000  75.054000        NaN
80619        NaN        NaN -300000.000000        NaN        NaN        NaN
80764  51.095498  51.095673      51.093276  51.089281  51.085139  51.081874
80766  48.904502  48.904327      48.906724  48.910719  48.914861  48.918126
      Country Name Country Code                              Indicator Name  \
63215        India          IND      Life expectancy at birth, male (years)
63216        India          IND     Life expectancy at birth, total (years)
63253        India          IND                               Net migration
63398        India          IND  Population, female (% of total population)
63400        India          IND    Population, male (% of total population)

          Indicator Code      2005       2006          2007       2008  \
63215  SP.DYN.LE00.MA.IN  63.68900  64.091000  6.449900e+01  64.910000
63216     SP.DYN.LE00.IN  64.50000  64.918000  6.535000e+01  65.794000
63253        SM.POP.NETM       NaN        NaN -2.655844e+06        NaN
63398  SP.POP.TOTL.FE.ZS  47.97429  47.971376  4.796952e+01  47.968958
63400  SP.POP.TOTL.MA.ZS  52.02571  52.028624  5.203048e+01  52.031042

            2009       2010       2011          2012       2013      2014  \
63215  65.320000  65.723000  66.115000  6.648800e+01  66.840000  67.16700
63216  66.244000  66.693000  67.130000  6.754500e+01  67.931000  68.28600
63253        NaN        NaN        NaN -2.350075e+06        NaN       NaN
63398  47.969949  47.972618  47.977056  4.798304e+01  47.990025  47.99727
63400  52.030051  52.027382  52.022944  5.201696e+01  52.009975  52.00273

            2015       2016          2017      2018       2019       2020
63215  67.468000  67.745000  6.800000e+01  68.23900  68.464000        NaN
63216  68.607000  68.897000  6.916500e+01  69.41600  69.656000        NaN
63253        NaN        NaN -2.663434e+06       NaN        NaN        NaN
63398  48.004268  48.010893  4.801729e+01  48.02354  48.029834  48.036327
63400  51.995732  51.989107  5.198271e+01  51.97646  51.970166  51.963673
      Country Name Country Code                              Indicator Name  \
41279        China          CHN      Life expectancy at birth, male (years)
41280        China          CHN     Life expectancy at birth, total (years)
41317        China          CHN                               Net migration
41462        China          CHN  Population, female (% of total population)
41464        China          CHN    Population, male (% of total population)

          Indicator Code       2005       2006          2007       2008  \
41279  SP.DYN.LE00.MA.IN  71.297000  71.551000  7.178800e+01  72.017000
41280     SP.DYN.LE00.IN  72.985000  73.271000  7.355300e+01  73.835000
41317        SM.POP.NETM        NaN        NaN -2.178385e+06        NaN
41462  SP.POP.TOTL.FE.ZS  48.640064  48.630872  4.862284e+01  48.616526
41464  SP.POP.TOTL.MA.ZS  51.359936  51.369128  5.137716e+01  51.383474

            2009       2010       2011          2012       2013       2014  \
41279  72.244000  72.476000  72.720000  7.297600e+01  73.242000  73.517000
41280  74.119000  74.409000  74.708000  7.501300e+01  75.321000  75.629000
41317        NaN        NaN        NaN -1.552209e+06        NaN        NaN
41462  48.612545  48.611297  48.613062  4.861773e+01  48.624817  48.633583
41464  51.387455  51.388703  51.386938  5.138227e+01  51.375183  51.366417

            2015      2016          2017       2018       2019       2020
41279  73.793000  74.06100  7.431500e+01  74.549000  74.761000        NaN
41280  75.928000  76.21000  7.647000e+01  76.704000  76.912000        NaN
41317        NaN       NaN -1.741996e+06        NaN        NaN        NaN
41462  48.643487  48.65438  4.866635e+01  48.679374  48.693498  48.708737
41464  51.356513  51.34562  5.133365e+01  51.320626  51.306502  51.291263
       Country Name Country Code                              Indicator Name  \
107087        Sudan          SDN      Life expectancy at birth, male (years)
107088        Sudan          SDN     Life expectancy at birth, total (years)
107125        Sudan          SDN                               Net migration
107270        Sudan          SDN  Population, female (% of total population)
107272        Sudan          SDN    Population, male (% of total population)

           Indicator Code      2005       2006          2007       2008  \
107087  SP.DYN.LE00.MA.IN  58.63600  59.106000      59.59100  60.082000
107088     SP.DYN.LE00.IN  60.52500  60.969000      61.42200  61.879000
107125        SM.POP.NETM       NaN        NaN -982687.00000        NaN
107270  SP.POP.TOTL.FE.ZS  49.86931  49.913293      49.97147  50.033103
107272  SP.POP.TOTL.MA.ZS  50.13069  50.086707      50.02853  49.966897

             2009       2010      2011           2012      2013       2014  \
107087  60.567000  61.031000  61.45700      61.838000  62.17000  62.453000
107088  62.330000  62.764000  63.17100      63.542000  63.87500  64.169000
107125        NaN        NaN       NaN -538145.000000       NaN        NaN
107270  50.084406  50.116442  50.12696      50.120381  50.10321  50.084109
107272  49.915594  49.883558  49.87304      49.879619  49.89679  49.915891

            2015       2016           2017       2018      2019       2020
107087  62.69300  62.900000      63.090000  63.277000  63.46700        NaN
107088  64.42900  64.663000      64.881000  65.095000  65.31100        NaN
107125       NaN        NaN -250001.000000        NaN       NaN        NaN
107270  50.06901  50.058941      50.052025  50.047415  50.04359  50.039543
107272  49.93099  49.941059      49.947975  49.952585  49.95641  49.960457
      Country Name Country Code                              Indicator Name  \
29397   Bangladesh          BGD      Life expectancy at birth, male (years)
29398   Bangladesh          BGD     Life expectancy at birth, total (years)
29435   Bangladesh          BGD                               Net migration
29580   Bangladesh          BGD  Population, female (% of total population)
29582   Bangladesh          BGD    Population, male (% of total population)

          Indicator Code       2005       2006          2007       2008  \
29397  SP.DYN.LE00.MA.IN  66.949000  67.318000  6.767900e+01  68.031000
29398     SP.DYN.LE00.IN  67.773000  68.213000  6.864800e+01  69.072000
29435        SM.POP.NETM        NaN        NaN -3.254778e+06        NaN
29580  SP.POP.TOTL.FE.ZS  48.774528  48.845501  4.893057e+01  49.020382
29582  SP.POP.TOTL.MA.ZS  51.225472  51.154499  5.106943e+01  50.979618

           2009     2010       2011          2012       2013      2014  \
29397  68.37000  68.6940  68.996000  6.927300e+01  69.526000  69.75900
29398  69.48500  69.8810  70.256000  7.060600e+01  70.930000  71.23100
29435       NaN      NaN        NaN -2.306839e+06        NaN       NaN
29580  49.10235  49.1679  49.214107  4.924438e+01  49.264281  49.28194
29582  50.89765  50.8321  50.785893  5.075562e+01  50.735719  50.71806

            2015       2016          2017       2018       2019       2020
29397  69.978000  70.192000  7.040900e+01  70.637000  70.877000        NaN
29398  71.514000  71.785000  7.205200e+01  72.320000  72.591000        NaN
29435        NaN        NaN -1.847503e+06        NaN        NaN        NaN
29580  49.303059  49.328805  4.935726e+01  49.387297  49.416911  49.444763
29582  50.696941  50.671195  5.064274e+01  50.612703  50.583089  50.555237
      Country Name Country Code                              Indicator Name  \
34424       Brazil          BRA      Life expectancy at birth, male (years)
34425       Brazil          BRA     Life expectancy at birth, total (years)
34462       Brazil          BRA                               Net migration
34607       Brazil          BRA  Population, female (% of total population)
34609       Brazil          BRA    Population, male (% of total population)

          Indicator Code       2005       2006       2007       2008  \
34424  SP.DYN.LE00.MA.IN  68.166000  68.536000  68.905000  69.266000
34425     SP.DYN.LE00.IN  71.896000  72.260000  72.618000  72.966000
34462        SM.POP.NETM        NaN        NaN   0.000000        NaN
34607  SP.POP.TOTL.FE.ZS  50.570289  50.591444  50.612587  50.633606
34609  SP.POP.TOTL.MA.ZS  49.429711  49.408556  49.387413  49.366394

            2009       2010       2011          2012       2013       2014  \
34424  69.616000  69.950000  70.265000     70.560000  70.838000  71.099000
34425  73.300000  73.619000  73.921000     74.209000  74.483000  74.745000
34462        NaN        NaN        NaN  15924.000000        NaN        NaN
34607  50.654354  50.674736  50.694675     50.714203  50.733462  50.752659
34609  49.345646  49.325264  49.305325     49.285797  49.266538  49.247341

            2015       2016           2017       2018     2019       2020
34424  71.345000  71.578000      71.804000  72.024000  72.2430        NaN
34425  74.994000  75.230000      75.456000  75.672000  75.8810        NaN
34462        NaN        NaN  106000.000000        NaN      NaN        NaN
34607  50.771922  50.791284      50.810659  50.829917  50.8489  50.867485
34609  49.228078  49.208716      49.189341  49.170083  49.1511  49.132515
      Country Name Country Code                              Indicator Name  \
87893        Niger          NER      Life expectancy at birth, male (years)
87894        Niger          NER     Life expectancy at birth, total (years)
87931        Niger          NER                               Net migration
88076        Niger          NER  Population, female (% of total population)
88078        Niger          NER    Population, male (% of total population)

          Indicator Code      2005       2006          2007      2008  \
87893  SP.DYN.LE00.MA.IN  52.64400  53.378000     54.127000  54.88000
87894     SP.DYN.LE00.IN  53.41100  54.180000     54.968000  55.76400
87931        SM.POP.NETM       NaN        NaN -20001.000000       NaN
88076  SP.POP.TOTL.FE.ZS  50.21126  50.171363     50.134739  50.10005
88078  SP.POP.TOTL.MA.ZS  49.78874  49.828637     49.865261  49.89995

            2009       2010      2011          2012       2013       2014  \
87893  55.630000  56.364000  57.07400     57.752000  58.392000  58.988000
87894  56.557000  57.333000  58.08100     58.790000  59.455000  60.070000
87931        NaN        NaN       NaN  18911.000000        NaN        NaN
88076  50.065571  50.030372  49.99435     49.958171  49.922475  49.888239
88078  49.934429  49.969628  50.00565     50.041829  50.077525  50.111761

            2015       2016          2017       2018       2019       2020
87893  59.536000  60.033000     60.485000  60.900000  61.281000        NaN
87894  60.631000  61.137000     61.599000  62.024000  62.420000        NaN
87931        NaN        NaN  20001.000000        NaN        NaN        NaN
88076  49.856034  49.825836     49.797476  49.771003  49.746462  49.723848
88078  50.143966  50.174164     50.202524  50.228997  50.253538  50.276152

## Generate Seed Data for Countries
This Code block generates the csv files used to populate Country table in the data mart

In [128]:
selected_data = pd.DataFrame()
for country in countries:
  current_info = countries_info.loc[countries_info['Country Code'] == country][country_columns]
  alpha =countries_info.loc[countries_info['Country Code'] == country]["2-alpha code"].values[0]
  continent = pc.country_alpha2_to_continent_code(alpha)
  current_countryInfo = CountryInfo(alpha)
  capital = current_countryInfo.capital()
  area = current_countryInfo.area()
  numLanguages = len(current_countryInfo.languages())
  current_info.insert(len(current_info.columns),'continent', continent)
  current_info.insert(len(current_info.columns),'capital', capital)
  current_info.insert(len(current_info.columns),'area', area)
  current_info.insert(len(current_info.columns),'num_languages', numLanguages)
  selected_data = pd.concat((selected_data, current_info))

selected_data.insert(0, 'key', [i for i in range(len(selected_data.index))])
selected_data = selected_data.rename(columns=column_keys)
selected_data = selected_data.replace('2020 (expected)','2020')
selected_data.to_csv(path_or_buf=f'./seed_data/countries_seed.csv', columns=selected_data.columns, index=False)

## Generate Seed Data for Events
The events table includes data from two sources, one source includes infromation on disasters, natural and otherwise, the other includes informaiton on terrorist attacks. The information from these two data sources has been conformed to fit into the event dimension and the CSV file to populate this dimension is generated using the code below

In [129]:
selected_data = pd.DataFrame(columns = disaster_columns)
for country in countries_full:
    current_info = disaster_data.loc[disaster_data['Country'] == country]
    current_info = current_info.loc[disaster_data['Start Year'].between(2005, 2020)]
    selected_data = selected_data.append(current_info)
# selected_data['Total Deaths'] = np.where((selected_data['Total Affected'] > 0) &  (selected_data['Total Deaths'].isna()), 0 , "" )
#Fills in missing values in Total affected and Total deaths based off assumptions.
selected_data.loc [(selected_data['Total Affected'] > 0) & (selected_data['Total Deaths'].isnull()), 'Total Deaths'] = 0
selected_data.loc [(selected_data['Total Affected'].isnull()) & (selected_data['Total Deaths'].isnull()), 'Total Deaths'] = 0 
selected_data.loc [(selected_data['Total Affected'].isnull()) & (selected_data['Total Deaths'].notnull()), 'Total Affected'] = selected_data['Total Deaths']
selected_data.loc [(selected_data['Disaster Subtype'].isnull()), 'Disaster Subtype'] = "None"
selected_data = selected_data.replace('United States of America (the)','United States of America')

#Deletes columns with missing data in Start day
indexs = selected_data[selected_data['Start Day'].isnull()].index
selected_data.drop(indexs, inplace=True)
selected_data = selected_data.rename(columns=column_keys)
#
# Add Lilian's code to get  terrorist attacks here, and add to dataframe!
#
selected_data = selected_data.drop(columns=['key'])
selected_data.insert(0, 'key', [i for i in range(len(selected_data.index))])
print(selected_data.head())

selected_data.to_csv(path_or_buf=f'./seed_data/Events_seed.csv', index=False)

       key Country  start_year  start_month  start_day  end_year  end_month  \
14009    0  Canada        2005          9.0       27.0      2005        9.0
14010    1  Canada        2005          6.0        7.0      2005        7.0
14013    2  Canada        2005         11.0       30.0      2005       12.0
14014    3  Canada        2005          5.0        8.0      2005        5.0
14015    4  Canada        2005          9.0       26.0      2005        9.0

       end_day disaster_group disaster_subgroup  ...  \
14009     29.0        Natural      Hydrological  ...
14010      1.0        Natural      Hydrological  ...
14013      1.0  Technological     Technological  ...
14014      8.0  Technological     Technological  ...
14015     29.0        Natural    Meteorological  ...

      Reconstruction Costs, Adjusted ('000 US$) Insured Damages ('000 US$)  \
14009                                       NaN                        NaN
14010                                       NaN                   186000.0
14013                                       NaN                        NaN
14014                                       NaN                        NaN
14015                                       NaN                        NaN

       Insured Damages, Adjusted ('000 US$)  Total Damages ('000 US$)  \
14009                                   NaN                       NaN
14010                              246497.0                  357000.0
14013                                   NaN                       NaN
14014                                   NaN                       NaN
14015                                   NaN                       NaN

       Total Damages, Adjusted ('000 US$)      CPI Adm Level Admin1 Code  \
14009                                 NaN  75.4572         2         NaN
14010                            473116.0  75.4572         2         NaN
14013                                 NaN  75.4572       NaN         NaN
14014                                 NaN  75.4572       NaN         NaN
14015                                 NaN  75.4572         2         NaN

                                             Admin2 Code  \
14009                                        12611;12612
14010                      12521;12522;12524;12525;12527
14013                                                NaN
14014                                                NaN
14015  12695;12699;12703;12706;12707;12710;12713;1273...

                                           Geo Locations
14009             Division No. 4, Division No. 5 (Adm2).
14010  Division No. 2, Division No. 3, Division No. 5...
14013                                                NaN
14014                                                NaN
14015  Acton, Beauharnois-Salaberry, Brome-Missisquoi...

[5 rows x 50 columns]

## Date Seed Data
Here entries for the  date table are generated, this is simply done by looping through 12 months for each year in the perisod spedified in the project outline

In [130]:
months = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'
]
df = pd.DataFrame(columns=['key', 'name', 'year', 'month_number', 'quarter', 'decade'])
key = 0
for year in range(2005, 2021):
  for month in range(12):
    df = df.append({
      'key': key,
      'name': months[month],
      'year': year,
      'month_number': month,
      'quarter': month//3,
      'decade': year//10,
    }, ignore_index=True)
    key +=1

df.to_csv(path_or_buf=f'./seed_data/date_seed.csv', index=False)

## Fact Table Generate

Here, the entries for the fact table are generated

In [131]:
dates = pd.read_csv('./seed_data/date_seed.csv')
events = pd.read_csv('./seed_data/Events_seed.csv')
education = pd.read_csv('./seed_data/Education_seed.csv')
health = pd.read_csv('./seed_data/Health_seed.csv')
population = pd.read_csv('./seed_data/Population_seed.csv')
qualityOfLife = pd.read_csv('./seed_data/Quality_of_life_seed.csv')
countries = pd.read_csv('./seed_data/countries_seed.csv')

fact_columns = [
  'key',
  'country_key',
  'date_key',
  'education_key',
  'health_key',
  'quality_of_life_key',
  'event_key',
]

def extractKey(key):
  if len(key) ==0:
    return None
  else:
    return key[0]

def checkDate(start_year, start_month, end_year, end_month, current_year, current_month):
  if start_year == end_year == current_year:
    if current_month >= start_month and current_month <= end_month:
      return True
  elif start_year == current_year:
    if current_month >= start_month:
      return True
  elif end_year == current_year:
    if current_month <= end_month:
      return True
  elif current_year > start_year and current_year < end_year:
    return True
  return False

In [132]:
facts = pd.DataFrame( )
index = 0
for date_index in dates.index:
  for country_index in countries.index:
    country_code = countries['alpha_code'][country_index]
    country_name = countries['short_name'][country_index]
    year = dates['year'][date_index]
    month = dates['month_number'][date_index]
    education_key = extractKey(education[(education['alpha_code']==country_code) & (education['Year']==year)]['key'].values)
    health_key = extractKey(health[(health['alpha_code']==country_code) & (health['Year']==year)]['key'].values)
    quality_of_life_key = extractKey(qualityOfLife[(qualityOfLife['alpha_code']==country_code) & (qualityOfLife['Year']==year)]['key'].values)
    population_key = extractKey(population[(population['alpha_code']==country_code) & (population['Year']==year)]['key'].values)
    # print(country_name)
    country_events = events[events['Country']==country_name]
    current_events = []
    for event_index in country_events.index:
      if checkDate(country_events['start_year'][event_index],country_events['start_month'][event_index],country_events['end_year'][event_index],country_events['end_month'][event_index], year, month):
        current_events.append(country_events['key'][event_index])
    for event_key in current_events:
      facts = facts.append(pd.DataFrame([[index, country_index, date_index,education_key, health_key,quality_of_life_key,event_key]], columns=fact_columns))
      index += 1
print(facts.head())
print(fact_columns)
facts.to_csv(path_or_buf=f'./seed_data/Facts.csv', index=False) 
      #   selected_data_imputed.insert(0, 'key', [i for i in range(len(selected_data_imputed.index))])

# 
#

   key  country_key  date_key  education_key  health_key  quality_of_life_key  \
0    0            2         1             32          32                   32
0    1            3         1             48          48                   48
0    2            3         1             48          48                   48
0    3            4         1             64          64                   64
0    4            4         1             64          64                   64

   event_key
0        458
0        628
0        630
0       1115
0       1117
['key', 'country_key', 'date_key', 'education_key', 'health_key', 'quality_of_life_key', 'event_key']

## Dropping Unnecessary Data
Now that the fact table has been created, the dimensional tables no longer need to store the country or date information, so we will now go through each of those files and remove those columns

In [133]:
education = pd.read_csv('./seed_data/Education_seed.csv')
health = pd.read_csv('./seed_data/Health_seed.csv')
population = pd.read_csv('./seed_data/Population_seed.csv')
qualityOfLife = pd.read_csv('./seed_data/Quality_of_life_seed.csv')

tables = {
  'Education': education,
  'Health': health,
  'Population': population,
  'Quality_of_life': qualityOfLife,
}

for key in tables:
  tmp = tables[key]
  tmp = tmp.drop(columns=['country_name', 'alpha_code', 'Year'])
  tmp.to_csv(path_or_buf=f'./seed_data/{key}_seed.csv', index=False)